<a href="https://colab.research.google.com/github/ZzOO123/BE_02_joowhi/blob/main/4%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC14_16%ED%99%94_%ED%99%A9%EC%A3%BC%ED%9C%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

####**제출 방법 안내**
상단 파일명(4일차_파이썬14_16화.ipynb)을 4일차_파이썬14_16화_000(본인이름).ipynb로 변경후 아래 링크로 접속 후 본인 이름의 폴더에 제출해주면 됩니다.

제출 링크 :

####**답변 입력 방법 안내**
"답변"이라고 적힌란을 마우스로 더블 클릭하시면 글을 작성할 수 있습니다.

텍스트에 글을 더 잘 작성하기 위해서는 마크다운 언어를 공부하시면 됩니다.

**(구글 검색 창에 "코랩 마크다운" 검색)**

##문제1

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   

x = 2, n =5

##문제1 답변

In [ ]:
x = 2
n = 5

# 빈 리스트 만들기
n_list = []

# x+ n * x
# 시작 값 x에서 시작해서 n개의 숫자를 갖는 등차 수열의 마지막 값까지 도달하는데 필요한 총합
for i in range(x, x+ n * x, x) :
    n_list.append(i)

print(n_list)

[2, 4, 6, 8, 10]



---

##문제2

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  

출력 예시 : "0101234****"

##문제2 답변

In [9]:
# phone_number = input()

phone_number = "01012347890"

# 앞번호 7개
p_num = phone_number[:7]
# 번호 7개 제외하고 "*"로 표시
last_num = "*" * (len(phone_number) - 7)

# 번호가 11자가 아니거나 앞번호가 010이 아니면 다시 입력
if len(phone_number) == 11 and phone_number[:3] == "010" :
    print(p_num + last_num)
else :
    print("다시 입력해 주세요.")

0101234****



---

##문제3

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

##문제3 답변

In [15]:
number = {"zero" : 0, "one" : 1, "two" : 2, "three" : 3, "four" : 4,
          "five" : 5, "six" : 6, "seven" : 7, "eight" : 8, "nine" : 9}

s = "77three4one"

# 숫자 저장
num = ""
# 영단어 저장
word = ""

# 문자열 한 글자씩 돌면서 확인
for i in s :
    if i.isdigit() :  # 현재 글자가 숫자인지 확인
        num += i      # 숫자라면 숫자 변수에 추가
    else :
        word += i     # 아니라면 영단어 변수에 추가

        # 해당 단어가 딕셔너리에 있는지 확인하고 숫자 변환 후 숫자 변수에 추가
        if word in number :
            num += str(number[word])
            word = ""  # 다음 단어를 위해 변수 초기화

# 출력
print(int(num))

77341



---

##문제4

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 2개의 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

## 문제4 답변

In [19]:
arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

# arr1 리스트 길이만큼 행 반복
for i in range(len(arr1)) :
    # arr1 열 반복
    for j in range(len(arr1[0])) :
        # 각 행렬의 동일한 위치에 있는 수를 합하여 arr1 갱신
        arr1[i][j] += arr2[i][j]

print(arr1)

[[4, 6], [7, 9]]



---

##문제5

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

##문제5 답변

In [32]:
x = 17

# 정수형 x 문자형으로 변환 후, 해당 인덱스 자리수 정수형으로 변환
if x % (int(str(x)[0]) + int(str(x)[1])) == 0 :
    print(x, "true")
else :
    print(x, "false")

17 false



---

##문제6

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

결과
"김서방은 1에 있다"

##문제6 답변

In [35]:
seoul = ["Jane", "Kim"]

# 리스트 seoul 인덱스 돌기
for i in range(len(seoul)) :
    # 인덱스 요소가 "kim"인지 확인
    if seoul[i] == "Kim" :
        # "kim"이면 해당 인덱스 변수에 저장
        index_kim = i

print(f'김서방은 {index_kim}에 있다.')

김서방은 1에 있다.



---

##문제7

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

##문제7 답변

In [44]:
numbers = [5,8,1,0,6,9]

# 부재 수들을 합하여야 하기에 0으로 힐당
total = 0

# 0부터 9까지 숫자 i에 할당 후 실행
for i in range(10) :
    # 만약 해당 숫자가 numbers에 없다면
    if i not in numbers :
        # total에 현재 숫자 i를 더한다. / 부재 숫자들의 합
        total += i

print(total)

16



---