<a href="https://colab.research.google.com/github/ZzOO123/BE_02_joowhi/blob/main/Chapter03_%EA%B8%B0%EC%B4%88%EA%B3%BC%EC%A0%9C_%ED%99%A9%EC%A3%BC%ED%9C%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter10 ~ 13 수업은 잘 들으셨나요?

Chapter10 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

####**제출 방법 안내**
상단 파일명(Chapter03_기초과제.ipynb)을 Chapter01_기초과제_000(본인이름).ipynb로 변경후 아래 링크로 접속 후 본인 이름의 폴더에 제출해주면 됩니다.

제출 링크 :

####**답변 입력 방법 안내**
"답변"이라고 적힌란을 마우스로 더블 클릭하시면 글을 작성할 수 있습니다.

텍스트에 글을 더 잘 작성하기 위해서는 마크다운 언어를 공부하시면 됩니다.

**(구글 검색 창에 "코랩 마크다운" 검색)**

##문제1
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "비밀"을 "나폴레옹"과 "괴물" 사이에 추가하라.



```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

##문제1 답변

In [14]:
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']

# 2번째 인덱스에 "비밀"이라는 값을 넣겠다.
movie.insert(2, "비밀")

print(f'movie_rank 리스트는 {movie} 입니다.')

movie_rank 리스트는 ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨'] 입니다.



---

##문제2
movie_rank 리스트에서 '베트맨'를 삭제하라.

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

##문제2 답변

In [22]:
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

# 리스트 마지막 값 지우기
del movie[-1]

print(f'최종 movie_rank 리스트는 {movie} 로 변경되었음을 알려드립니다.')

최종 movie_rank 리스트는 ['서울의 봄', '나폴레옹', '비밀', '괴물'] 로 변경되었음을 알려드립니다.



---

##문제3

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

lang1 = ["C", "C++", "JAVA"]  
lang2 = ["Python", "Go", "C#"]  

실행 예:
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

##문제3 답변

In [21]:
# 언어1 리스트
lang1 = ["C", "C++", "JAVA"]

# 언어2 리스트
lang2 = ["Python", "Go", "C#"]

# 언어1과 언어2를 *모두* 가지고 있는 언어 리스트
lang_collection = lang1 + lang2

print(f'프로그래밍 언어모음 : {lang_collection}')

프로그래밍 언어모음 : ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']



---

##문제4
다음 리스트에서 최댓값과 최솟값을 출력해주세요.

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

##문제4 답변

In [32]:
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]

# 숫자 리스트 오름차순 정렬하기
nums.sort()

# 최솟값, 최댓값 변수 할당
min = nums[0]
max = nums[-1]

print(f'해당 리스트의 최솟값은 "{min}" 이고, 최댓값은 "{max}" 입니다. ')

해당 리스트의 최솟값은 "1" 이고, 최댓값은 "10" 입니다.



---

##문제5

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]

##문제5 답변

In [40]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]

# 해당 리스트 데이터 개수
cook_data = len(cook)

print(f'[cook] 리스트에 저장된 데이터의 개수는 총 " {cook_data}개 " 입니다.')

[cook] 리스트에 저장된 데이터의 개수는 총 " 8개 " 입니다.



---

##문제6

다음 리스트의 평균을 출력해주세요

nums = [1, 2, 3, 4, 5]

##문제6 답변

In [41]:
nums = [1, 2, 3, 4, 5]

# 평균 = 리스트 총합 / 데이터 개수
average = sum(nums) / len(nums)

print(f'[nums] 리스트의 평균은 "{average}" 입니다.')

[nums] 리스트의 평균은 "3.0" 입니다.



---

## 문제7

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

price = ['20180728', 100, 130, 140, 150, 160, 170]

출력:
[100, 130, 140, 150, 160, 170]

##문제7 답변

In [49]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

# 날짜 제거
price.remove('20180728')

print(price)

[100, 130, 140, 150, 160, 170]



---

## 문제8

아래 코드 실행 시 오류가 발생한 사유를 설명해주세요

t = (1, 2, 3)  
t[0] = 'a'  
Traceback (most recent call last):  
   File "<pyshell#46>", line 1, in <module>  
      t[0] = 'a'   
TypeError: 'tuple' object does not support item assignment

##문제8 답변

        TypeError: 'tuple' object does not support item assignment


[ tuple ] 은 불변 자료형으로, 요소의 추가, 삭제, 변경이 불가능합니다.   
위의 코드에서는 [0]번째 요소를 변경하고자 하였기에 '**TypeError**' 가 발생하였습니다.   
tuple을 생성한 이후 내용을 변경하고자 한다면 새로운 tuple을 생성해야 합니다.



---

## 문제9
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

실행 예:
메로나 가격: 1000

##문제9 답변

In [54]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# item()을 이용한 딕셔너리 리스트화
ice_list = list(ice.items())

# 인덱스 사용 키, 값 분리
melona = ice_list[0][0]
melona_sell = ice_list[0][1]

print(f'{melona}의 가격은 {melona_sell}원 이다.')

메로나의 가격은 1000원 이다.



---

##문제10

다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

##문제10 답변

In [66]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 메로나 가격 변경
ice["메로나"] = 1300

print(f' - 메로나 가격 인상 - \n\n {ice}')

 - 메로나 가격 인상 -

 {'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}



---

## 문제11
아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


이름 : 나이썬, 김자바, 김씨, 박씨샵  
등급 :   B       B      A      C

##문제11 답변

In [71]:
name = ["나이썬", "김자바", "김씨", "박씨샵"]
grade = ["B", "B", "A", "C"]

# 학생 리스트 딕셔너리
stu_list = dict(zip(name, grade))

print(stu_list)

{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}



---

## 문제12
아래 ice 딕셔너리에 데이터를 추가 후 출력해주세

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터 : 이름 : 보석바, 가격:650, 재고:10

##문제12 답변

In [74]:
ice = {
    "메로나": [300, 20],
    "비비빅": [400, 3],
    "죠스바": [250, 100]
    }

# 보석바 가격 및 재고
jewel_ice = [650, 10]

# 딕셔너리 데이터 추가
ice.update({"보석바" : jewel_ice})

print(f'- 아이스크림 새 품목 입고 - \n\n{ice}')

- 아이스크림 새 품목 입고 -

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': [650, 10]}



---

##문제13

아래 딕셔너리에서 key만 출력해주세요  

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

##문제13 답변

In [76]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# ice 딕셔너리 키 리스트
ice_name = list(ice.keys())

print(ice_name)

['메로나', '폴로포', '빵빠레', '죠스바', '월드콘']



---